# Pandas Recap Solution

# 1. Pandas DataFrame Basics
***

## 1.1 데이터 집합 불러오기

In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\gapminder.tsv', sep='\t')

In [4]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

## 1.2 열단위 데이터 추출

### df에서 'country'열을 추출하여 country_sr 변수에 저장하기. (country_sr의 타입은 Series 가 되어야 한다)

In [5]:
country_sr = df['country']

In [6]:
print(type(country_sr))
print(country_sr.head())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

### 'year'열과 'pop'열을 동시에 추출하여 year_pop_df 변수에 저장하기. (year_pop_df의 타입은 DataFrame이 되어야 한다)

In [7]:
year_pop_df = df[['year', 'pop']]

In [8]:
print(type(year_pop_df))
print(year_pop_df.head())

<class 'pandas.core.frame.DataFrame'>
   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

### 'year'열을 추출하여 year_df 변수에 저장하기. (year_df의 타입은 DataFrame이 되어야 한다)

In [9]:
year_df = df[['year']]

In [10]:
print(type(year_df))
print(year_df.head())

<class 'pandas.core.frame.DataFrame'>
   year
0  1952
1  1957
2  1962
3  1967
4  1972

## 1.3 행단위 데이터 추출

### df에서 2번째 행 데이터 추출하기 (loc 속성 이용)

In [16]:
print(df.loc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

### df에서 2번째 행 데이터 추출하기 (iloc 속성 이용)

In [15]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

### df에서 마지막 행 데이터 추출하기 (loc 속성 이용)

In [17]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

### df에서 마지막 행 데이터 추출하기 (iloc 속성 이용)

In [18]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

## 1.4 loc, iloc 속성 자유자재로 사용하기 - [ [ 행 ], [ 열 ] ]

### 'country', 'year', 'gdpPercap' 열에 대해 모든 행 데이터 추출하기(loc 사용)

In [19]:
print(df.loc[:, ['country', 'year', 'gdpPercap']])

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(loc 사용)

In [21]:
print(df.loc[:99, ['country', 'year', 'gdpPercap']])

        country  year     gdpPercap
0   Afghanistan  1952    779.445314
1   Afghanistan  1957    820.853030
2   Afghanistan  1962    853.100710
3   Afghanistan  1967    836.197138
4   Afghanistan  1972    739.981106
..          ...   ...           ...
95      Bahrain  2007  29796.048340
96   Bangladesh  1952    684.244172
97   Bangladesh  1957    661.637458
98   Bangladesh  1962    686.341554
99   Bangladesh  1967    721.186086

[100 rows x 3 columns]

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(iloc 사용)

In [20]:
print(df.iloc[:100, [0, 2, -1]])

        country  year     gdpPercap
0   Afghanistan  1952    779.445314
1   Afghanistan  1957    820.853030
2   Afghanistan  1962    853.100710
3   Afghanistan  1967    836.197138
4   Afghanistan  1972    739.981106
..          ...   ...           ...
95      Bahrain  2007  29796.048340
96   Bangladesh  1952    684.244172
97   Bangladesh  1957    661.637458
98   Bangladesh  1962    686.341554
99   Bangladesh  1967    721.186086

[100 rows x 3 columns]

# 2. Pandas Data Structures
***

## 2.1 데이터 만들기

In [22]:
import pandas as pd

In [28]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

## 2.2 데이터 추출

### 'William Gosset' 행 데이터 추출하기 (loc 사용)

In [29]:
print(scientists.loc['William Gosset'])

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 'William Gosset' 행 데이터 추출하기 (iloc 사용)

In [25]:
print(scientists.iloc[1])

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 'William Gosset'의 Occupation 추출 (loc 사용)

In [30]:
print(scientists.loc['William Gosset', 'Occupation'])

Statistician

### 'Rosaline Franklin'의 Occupation을 Programmer 로 변경(iloc 사용)

In [31]:
scientists.iloc[0, 0] = 'Programmer'
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin    Programmer  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

## 2.3 index, columns, values 속성 사용하기

### scientists의 index 가져오기

In [32]:
print(scientists.index)

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

### scientists의 columns 가져오기

In [33]:
print(scientists.columns)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### scientists의 모든 values 가져오기

In [34]:
print(scientists.values)

[['Programmer' '1920-07-25' '1958-04-16' 37]
 ['Statistician' '1876-06-13' '1937-10-16' 61]]

## 2.4 시리즈의 기초 통계 메서드 사용하기

### 시리즈 메서드 정리

| 시리즈 메서드    | 설명 |
| ----------------| --- |
| append          | 2개 이상의 시리즈 연결 |
| describe        | 요약 통계량 계산 |
| drop_duplicates | 중복값이 없는 시리즈 반환 |
| equals          | 시리즈에 해당 값을 가진 요소가 있는지 확인 |
| get_values      | 시리즈 값 구하기 (values 속성과 동일) |
| isin            | 시리즈에 포함된 값이 있는지 확인 |
| min             | 최솟값 반환 |
| max             | 최댓값 반환 |
| mean            | 산술 평균 반환 |
| median          | 중간값 반환 |
| replace         | 특정 값을 가진 시리즈 값을 교체 |
| sample          | 시리즈에서 임의의 값을 반환 |
| sort_values     | 값을 정렬 |
| to_frame        | 시리즈를 데이터프레임으로 변환 |

### scientists 에서 평균 나이 ('Age'열) 구하기

In [35]:
print(scientists['Age'].mean())

49.0

### scientists 에서 최대 나이 ('Age'열) 구하기

In [36]:
print(scientists['Age'].max())

61

### scientists 에서 최소 나이 ('Age'열) 구하기

In [37]:
print(scientists['Age'].min())

37

### scientists 에서 나이('Age'열)에 대한 표준편차 구하기

In [38]:
print(scientists['Age'].std())

16.97056274847714

## 2.5 시리즈 다루기 - 응용

In [40]:
scientists = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 수명(Age)이 평균수명 보다 적은 과학자들의 수명 데이터(시리즈) 추출하기

In [41]:
ages = scientists['Age'] 

print(ages[ages < ages.mean()])

0    37
4    56
5    45
6    41
Name: Age, dtype: int64

### 수명(Age)이 평균수명 보다 큰 과학자들의 이름(Name) 데이터(시리즈) 추출하기

In [42]:
ages = scientists['Age']
names = scientists['Name'] 

print(names[ages > ages.mean()])

1          William Gosset
2    Florence Nightingale
3             Marie Curie
7            Johann Gauss
Name: Name, dtype: object

### 1800년대에 태어난 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (& 연산자 사용)

In [45]:
names = scientists['Name'] 
borns = scientists['Born']

print(names[(borns >= '1800-01-01') & (borns < '1900-01-01')])
# print(names[(borns >= '18') & (borns < '19')])

1          William Gosset
2    Florence Nightingale
3             Marie Curie
5               John Snow
Name: Name, dtype: object

### 직업(Occupation)이 Chemist 또는 Physician 인 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (| 연산자 사용)

In [50]:
names = scientists['Name'] 
occupations = scientists['Occupation']

print(names[(occupations == 'Chemist') | (occupations == 'Physician')])

0    Rosaline Franklin
3          Marie Curie
5            John Snow
Name: Name, dtype: object
0    Rosaline Franklin
3          Marie Curie
5            John Snow
Name: Name, dtype: object

### 수명 데이터에 10 더하기

In [52]:
ages = scientists['Age']
print (ages + 10)

0     47
1     71
2    100
3     76
4     66
5     55
6     51
7     87
Name: Age, dtype: int64

## 2.6 데이터프레임 다루기

### 수명(Age)이 평균수명 보다 적은 과학자들의 전체 데이터(데이터프레임) 추출하기

In [53]:
ages = scientists['Age']

print(scientists[ages < ages.mean()])

                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

### 출생일(Born) 데이터의 타입을 datetime 으로 변환하여 새로운 열(Born_dt)로 추가하기 (to_datetime 사용)

In [60]:
scientists['Born_dt'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     Born_dt
0 1920-07-25
1 1876-06-13
2 1820-05-12
3 1867-11-07
4 1907-05-27
5 1813-03-15
6 1912-06-23
7 1777-04-30

### 출생일(Born_dt) 데이터를 사용하여 1850년 이후에 태어난 과학자의 전체데이터(데이터프레임) 추출하기

In [71]:
print(scientists[scientists['Born_dt'] >= '1851-01-01'])
print(scientists[scientists['Born_dt'].dt.year > 1850])

                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

     Born_dt
0 1920-07-25
1 1876-06-13
3 1867-11-07
4 1907-05-27
6 1912-06-23
                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

     Born_dt
0 1920-07-25
1 1876-06-13
3 1867-11-07
4 1907-05-27
6 1912-06-23

### Born_dt 열 삭제하기 (drop 함수 사용)

In [72]:
scientists.drop('Born_dt', axis=1, inplace=True)
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

# 3. Data Assembly, Tidy Data, Data Types and Groupby
***

## 3.1 데이터 불러오기

In [73]:
import pandas as pd

In [75]:
scores_1_1 = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scores_1_1.csv', header=None)
scores_1_2 = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scores_1_2.csv', header=None)
scores_2_1 = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scores_2_1.csv', header=None)
scores_2_2 = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scores_2_2.csv', header=None)

## 3.2 데이터 합치기

### scores_1_1 와 scores_1_2 를 열기준(axis=1) 으로 합쳐 scores_1 변수에 저장하기 (concat)

In [76]:
scores_1 = pd.concat([scores_1_1, scores_1_2], axis=1, ignore_index=True)

### scores_1 의 열이름을 1, 2, 3, ... 로 변경하기

In [77]:
scores_1.columns = range(1, len(scores_1.columns) + 1)

### scores_1 에서 누락 데이터를 0 으로 채우기 (fillna)

In [78]:
scores_1.fillna(0, inplace=True)
print(scores_1.head())

    1   2   3    4    5   6   7   8    9   10  ...  16  17   18  19  20  21
0  0.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   0   0  0.0   1   0   1  \
1  1.0   1   1  0.0  1.0   0   1   1  1.0   0  ...   0   0  0.0   1   1   0
2  0.0   0   1  1.0  1.0   1   0   1  0.0   0  ...   0   0  0.0   0   0   0
3  1.0   1   1  1.0  1.0   1   1   1  1.0   0  ...   1   1  1.0   1   1   0
4  1.0   1   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   0   1   1

    22   23   24  25
0  1.0  1.0  0.0   1
1  1.0  1.0  0.0   1
2  0.0  0.0  0.0   1
3  1.0  1.0  1.0   1
4  1.0  1.0  1.0   1

[5 rows x 25 columns]

### scores_1 모든 데이터타입을 int32 으로 변경하기 (astype)

In [79]:
scores_1 = scores_1.astype('int32')

### scores_1 의 모든 데이터에 4를 곱한 값으로 재지정 하기 (브로드캐스팅)

In [80]:
scores_1 = scores_1 * 4
print(scores_1.head())

   1   2   3   4   5   6   7   8   9   10  ...  16  17  18  19  20  21  22
0   0   0   0   0   4   0   0   4   0   0  ...   0   0   0   4   0   4   4  \
1   4   4   4   0   4   0   4   4   4   0  ...   0   0   0   4   4   0   4
2   0   0   4   4   4   4   0   4   0   0  ...   0   0   0   0   0   0   0
3   4   4   4   4   4   4   4   4   4   0  ...   4   4   4   4   4   0   4
4   4   4   4   0   4   0   0   4   4   0  ...   4   0   0   0   4   4   4

   23  24  25
0   4   0   4
1   4   0   4
2   0   0   4
3   4   4   4
4   4   4   4

[5 rows x 25 columns]

### scores_1 에 새로운 class 열 추가하기(class 데이터 값은 모두 '1반')

In [82]:
scores_1['class'] = '1반'
print(scores_1)

    1  2  3  4  5  6  7  8  9  10  ...  17  18  19  20  21  22  23  24  25
0   0  0  0  0  4  0  0  4  0   0  ...   0   0   4   0   4   4   4   0   4  \
1   4  4  4  0  4  0  4  4  4   0  ...   0   0   4   4   0   4   4   0   4
2   0  0  4  4  4  4  0  4  0   0  ...   0   0   0   0   0   0   0   0   4
3   4  4  4  4  4  4  4  4  4   0  ...   4   4   4   4   0   4   4   4   4
4   4  4  4  0  4  0  0  4  4   0  ...   0   0   0   4   4   4   4   4   4
5   4  4  0  4  4  4  0  4  4   0  ...   0   4   4   4   4   4   4   4   4
6   4  4  0  4  0  4  4  4  4   0  ...   0   0   0   4   0   0   4   4   0
7   4  4  0  0  4  0  0  4  0   0  ...   0   0   4   4   0   4   4   4   4
8   4  0  4  4  4  0  0  4  4   0  ...   0   0   4   4   0   4   4   4   4
9   4  0  4  0  4  0  0  0  0   0  ...   0   4   0   0   4   4   4   0   4
10  4  0  0  0  4  0  0  4  0   0  ...   4   4   4   0   0   4   4   0   4
11  4  4  0  0  4  0  0  0  4   0  ...   0   0   0   0   0   4   4   0   4
12  4  4  0  0  0  0  0  4  0   0  ...   0   0   4   4   0   4   4   0   0
13  4  4  4  0  4  0  4  4  4   4  ...   4   0   0   4   0   4   4   4   4
14  4  4  0  4  4  4  0  4  4   4  ...   0   4   4   4   4   4   4   0   0
15  4  4  4  0  4  0  0  4  4   4  ...   4   4   4   4   0   4   4   4   4
16  4  4  0  0  0  0  0  0  4   0  ...   0   0   0   0   4   4   0   4   0
17  4  0  0  0  4  0  0  4  0   0  ...   4   4   4   4   0   0   0   0   4
18  4  4  0  0  4  0  0  4  0   0  ...   0   4   0   0   0   4   4   0   4
19  4  4  4  0  4  0  0  4  4   4  ...   0   0   4   0   0   4   4   4   0
20  4  4  4  0  0  0  0  4  0   4  ...   0   0   4   0   0   0   0   0   0
21  4  0  4  0  4  0  0  0  4   0  ...   0   0   0   4   0   4   0   0   4
22  4  0  4  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   4
23  4  0  4  0  4  0  0  4  0   4  ...   4   0   4   0   0   0   4   0   0
24  4  0  4  0  0  0  4  0  4   0  ...   0   0   0   4   0   0   0   4   4
25  4  4  4  0  0  0  0  4  0   0  ...   0   0   4   0   4   4   4   0   0
26  4  0  0  0  0  4  0  0  4   4  ...   0   4   0   0   0   0   0   0   0
27  4  4  4  0  0  4  4  4  0   0  ...   0   0   0   0   4   0   4   4   0
28  4  0  0  0  4  0  0  0  4   4  ...   4   0   4   0   0   0   0   0   4
29  4  4  0  4  4  4  4  4  4   4  ...   4   4   4   4   0   4   4   4   4
30  4  0  4  0  4  0  0  4  4   0  ...   0   0   4   4   0   4   4   4   4
31  4  0  4  0  4  0  0  0  4   0  ...   0   0   0   0   4   0   4   0   0
32  4  0  4  0  4  0  0  0  4   0  ...   0   0   4   4   0   0   0   4   4
33  0  0  4  4  0  0  0  0  0   0  ...   0   0   0   4   4   0   4   0   4
34  4  0  4  4  0  4  0  4  0   0  ...   0   4   0   0   4   0   0   0   4
35  4  4  4  0  4  0  4  4  0   0  ...   4   4   4   4   4   4   4   4   4
36  4  4  0  4  0  4  0  0  0   0  ...   4   0   0   4   0   4   0   4   0
37  4  0  0  0  4  0  0  0  4   0  ...   0   0   4   4   4   0   0   4   4

    class
0      1반
1      1반
2      1반
3      1반
4      1반
5      1반
6      1반
7      1반
8      1반
9      1반
10     1반
11     1반
12     1반
13     1반
14     1반
15     1반
16     1반
17     1반
18     1반
19     1반
20     1반
21     1반
22     1반
23     1반
24     1반
25     1반
26     1반
27     1반
28     1반
29     1반
30     1반
31     1반
32     1반
33     1반
34     1반
35     1반
36     1반
37     1반

[38 rows x 26 columns]

### scores_2_1 와 scores_2_2 를 열기준(axis=1) 으로 합쳐 scores_2 변수에 저장하기 (concat)

In [83]:
scores_2 = pd.concat([scores_2_1, scores_2_2], axis=1, ignore_index=True)

### scores_2 의 열이름을 1, 2, 3, ... 로 변경하기 (range)

In [84]:
scores_2.columns = range(1, len(scores_2.columns) + 1)

### scores_2 에서 누락 데이터를 0 으로 채우기 (fillna)

In [85]:
scores_2.fillna(0, inplace=True)
print(scores_2.head())

   1    2   3   4   5   6    7   8   9   10  ...  16  17  18  19  20  21  22
0   1  0.0   1   0   1   0  1.0   1   1   0  ...   0   1   0   1   1   1   0  \
1   1  1.0   1   0   1   0  1.0   1   1   1  ...   1   1   1   1   1   0   1
2   0  1.0   1   0   1   0  1.0   1   1   0  ...   1   0   1   0   0   1   0
3   1  0.0   0   1   1   1  1.0   0   0   0  ...   1   0   0   1   0   0   0
4   1  1.0   0   1   1   1  0.0   1   1   0  ...   0   0   0   0   0   1   0

   23  24  25
0   1   1   1
1   1   1   1
2   0   1   1
3   0   0   1
4   1   1   1

[5 rows x 25 columns]

### scores_2 의 모든 데이터타입을 int32 으로 변경하기 (astype)

In [86]:
scores_2 = scores_2.astype('int32')

### scores_2 의 모든 데이터에 4를 곱한 값으로 재지정하기 (브로드캐스팅)

In [87]:
scores_2 = scores_2 * 4
print(scores_2.head())

   1   2   3   4   5   6   7   8   9   10  ...  16  17  18  19  20  21  22
0   4   0   4   0   4   0   4   4   4   0  ...   0   4   0   4   4   4   0  \
1   4   4   4   0   4   0   4   4   4   4  ...   4   4   4   4   4   0   4
2   0   4   4   0   4   0   4   4   4   0  ...   4   0   4   0   0   4   0
3   4   0   0   4   4   4   4   0   0   0  ...   4   0   0   4   0   0   0
4   4   4   0   4   4   4   0   4   4   0  ...   0   0   0   0   0   4   0

   23  24  25
0   4   4   4
1   4   4   4
2   0   4   4
3   0   0   4
4   4   4   4

[5 rows x 25 columns]

### sores_2 에 새로운 class열 추가하기(class 데이터 값은 모두 '2반')

In [88]:
scores_2['class'] = '2반'

### scores_1 과 scores_2 를 행기준(axis=0) 으로 합쳐 scores 변수에 저장하기 (concat)

In [90]:
scores = pd.concat([scores_1, scores_2], axis=0, ignore_index=True)

    1  2  3  4  5  6  7  8  9  10  ...  17  18  19  20  21  22  23  24  25
0   0  0  0  0  4  0  0  4  0   0  ...   0   0   4   0   4   4   4   0   4  \
1   4  4  4  0  4  0  4  4  4   0  ...   0   0   4   4   0   4   4   0   4
2   0  0  4  4  4  4  0  4  0   0  ...   0   0   0   0   0   0   0   0   4
3   4  4  4  4  4  4  4  4  4   0  ...   4   4   4   4   0   4   4   4   4
4   4  4  4  0  4  0  0  4  4   0  ...   0   0   0   4   4   4   4   4   4
.. .. .. .. .. .. .. .. .. ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
71  4  4  4  4  4  4  4  0  4   0  ...   0   0   4   0   4   0   4   0   4
72  4  4  0  0  4  0  4  4  4   0  ...   0   0   4   0   0   4   4   4   0
73  4  0  4  0  4  0  4  0  4   4  ...   0   0   0   4   0   0   0   0   4
74  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0
75  4  0  4  0  4  0  0  4  4   0  ...   4   0   4   0   0   4   4   0   4

    class
0      1반
1      1반
2      1반
3      1반
4      1반
..    ...
71     2반
72     2반
73     2반
74     2반
75     2반

[76 rows x 26 columns]

### scores에 새로운 id열(values = 1, 2, 3, ...) 추가하기

In [91]:
scores['id'] = range(1, len(scores) + 1)
print(scores)

    1  2  3  4  5  6  7  8  9  10  ...  18  19  20  21  22  23  24  25  class
0   0  0  0  0  4  0  0  4  0   0  ...   0   4   0   4   4   4   0   4     1반  \
1   4  4  4  0  4  0  4  4  4   0  ...   0   4   4   0   4   4   0   4     1반
2   0  0  4  4  4  4  0  4  0   0  ...   0   0   0   0   0   0   0   4     1반
3   4  4  4  4  4  4  4  4  4   0  ...   4   4   4   0   4   4   4   4     1반
4   4  4  4  0  4  0  0  4  4   0  ...   0   0   4   4   4   4   4   4     1반
.. .. .. .. .. .. .. .. .. ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..    ...
71  4  4  4  4  4  4  4  0  4   0  ...   0   4   0   4   0   4   0   4     2반
72  4  4  0  0  4  0  4  4  4   0  ...   0   4   0   0   4   4   4   0     2반
73  4  0  4  0  4  0  4  0  4   4  ...   0   0   4   0   0   0   0   4     2반
74  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0     2반
75  4  0  4  0  4  0  0  4  4   0  ...   0   4   0   0   4   4   0   4     2반

    id
0    1
1    2
2    3
3    4
4    5
..  ..
71  72
72  73
73  74
74  75
75  76

[76 rows x 27 columns]

### class 열의 데이터타입을 category 로 변경하기 (astype)

In [96]:
scores['class'] = scores['class'].astype('category')
# print(scores.dtypes)
print(scores)

    1  2  3  4  5  6  7  8  9  10  ...  18  19  20  21  22  23  24  25  class
0   0  0  0  0  4  0  0  4  0   0  ...   0   4   0   4   4   4   0   4     1반  \
1   4  4  4  0  4  0  4  4  4   0  ...   0   4   4   0   4   4   0   4     1반
2   0  0  4  4  4  4  0  4  0   0  ...   0   0   0   0   0   0   0   4     1반
3   4  4  4  4  4  4  4  4  4   0  ...   4   4   4   0   4   4   4   4     1반
4   4  4  4  0  4  0  0  4  4   0  ...   0   0   4   4   4   4   4   4     1반
.. .. .. .. .. .. .. .. .. ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..    ...
71  4  4  4  4  4  4  4  0  4   0  ...   0   4   0   4   0   4   0   4     2반
72  4  4  0  0  4  0  4  4  4   0  ...   0   4   0   0   4   4   4   0     2반
73  4  0  4  0  4  0  4  0  4   4  ...   0   0   4   0   0   0   0   4     2반
74  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0     2반
75  4  0  4  0  4  0  0  4  4   0  ...   0   4   0   0   4   4   0   4     2반

    id
0    1
1    2
2    3
3    4
4    5
..  ..
71  72
72  73
73  74
74  75
75  76

[76 rows x 27 columns]

## 3.3 분석하기

### class, id 열을 고정하고, 나머지 열을 피벗하여 scores_long 변수에 저장하기 (melt - var_name='question', value_name='score')

In [94]:
scores_long = pd.melt(scores, id_vars=['class', 'id'],
                      var_name='question', value_name='score')
print(scores_long)

     class  id question  score
0       1반   1        1      0
1       1반   2        1      4
2       1반   3        1      0
3       1반   4        1      4
4       1반   5        1      4
...    ...  ..      ...    ...
1895    2반  72       25      4
1896    2반  73       25      0
1897    2반  74       25      4
1898    2반  75       25      0
1899    2반  76       25      4

[1900 rows x 4 columns]

### scores_long 에서 학생별 점수 구하기 (groupby, sum)

In [97]:
print(scores_long.groupby('id').score.sum())

id
1     40
2     56
3     40
4     88
5     60
      ..
72    72
73    48
74    52
75     0
76    52
Name: score, Length: 76, dtype: int32

### scores_long 에서 반/학생별 점수 구하여 class_scores 변수에 저장하기 (groupby, sum, reset_index)

In [98]:
class_scores = scores_long.groupby(['class', 'id']).score.sum().reset_index()
print(class_scores)

    class  id  score
0      1반   1     40
1      1반   2     56
2      1반   3     40
3      1반   4     88
4      1반   5     60
..    ...  ..    ...
147    2반  72     72
148    2반  73     48
149    2반  74     52
150    2반  75      0
151    2반  76     52

[152 rows x 3 columns]

### class_scores에서 반별 평균 점수 구하기 (groupby, mean)

In [99]:
print(class_scores.groupby('class').score.mean())

class
1반    25.789474
2반    23.526316
Name: score, dtype: float64

### class_scores에서 반별 기술통계 항목 구하기 (groupby, describe)

In [100]:
print(class_scores.groupby('class').score.describe())

       count       mean        std  min  25%   50%   75%   max
class
1반      76.0  25.789474  28.430179  0.0  0.0  10.0  48.0  88.0
2반      76.0  23.526316  27.542681  0.0  0.0   0.0  48.0  88.0

# 4. Regular Expression
***

## 4.1 문자열에서 찾기

In [101]:
import pandas as pd
import re

sample = """
750101-1123146 01012345677
900201-2123121 010-2234-7799
950722-2027193 010-2987-7222
000321-3123142 011_1234_9087
001105-4333127 010 4422 1485
0009213876575  01045845987
"""

### 전화번호 추출하기

In [102]:
p = re.compile('\d{3}[-_\s]?\d{4}[-_\s]?\d{4}$', re.MULTILINE)
print(p.findall(sample))

['01012345677', '010-2234-7799', '010-2987-7222', '011_1234_9087', '010 4422 1485', '01045845987']

### 주민등록번호 추출하기

In [103]:
p = re.compile('^\d{6}-?\d{7}', re.MULTILINE)
print(p.findall(sample))

['750101-1123146', '900201-2123121', '950722-2027193', '000321-3123142', '001105-4333127', '0009213876575']

### 여성 주민등록번호 추출하기

In [104]:
p = re.compile('^\d{6}-?[24]\d{6}', re.MULTILINE)
print(p.findall(sample))

['900201-2123121', '950722-2027193', '001105-4333127']

## 4.2 데이터프레임에서 찾기

In [106]:
scientists = pd.read_csv(r'C:\Users\gomwo\Desktop\git\python_practice\BD\scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 5월에 태어난 과학자 추출

In [107]:
print(scientists[scientists.Born.str.match('\d{4}-05-\d{2}')])

                   Name        Born        Died  Age Occupation
2  Florence Nightingale  1820-05-12  1910-08-13   90      Nurse
4         Rachel Carson  1907-05-27  1964-04-14   56  Biologist

### 성(last name)이 C로 시작하는 과학자 추출

In [109]:
print(scientists[scientists.Name.str.match('\w+\s[cC]\w+')])

            Name        Born        Died  Age Occupation
3    Marie Curie  1867-11-07  1934-07-04   66    Chemist
4  Rachel Carson  1907-05-27  1964-04-14   56  Biologist